/*
Primary - #cfab35

Light - #ffdc66

 Dark - #9a7c00

*/
*{
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
}
body{
    position: relative;
    width: 100vw;
    height: 200vh;
    background: white
}

section {
    height: 90vh;
}

.bio{
width: 100%;
padding: 0;
height: auto;

}

.bio p{
    font-size: 1.1rem;
    color: black;
}


.bio .break {
    
    height: 1px;
    width: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid  #9a7c00
}

.scrolledNav {
    background-color: black !important;
    transition:  background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    -webkit-transition:background-color .5s ease-in-out;
}

.unscrolledNav {
    background-color: white !important;
    transition:  background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    -webkit-transition:background-color .5s ease-in-out;
}

.scrolledToggler{
    background-color: #3d3d3d;
}


.navbar{
    height: 10vh;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9a7c00;
    border-bottom: .5px solid #cfab35;
    position: fixed;
    width: 100%;
    top:0;
    background-color: white;
    z-index: 2
}


#logo{
    font-weight: 400;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #9a7c00;
    font-size: 1.5rem
 
}

.carousel-item {
    height: 100vh
}


.nav-item .nav-link{
text-decoration: none;
font-size: 1.1rem;
font-weight: 300;
font-style: italic;
letter-spacing: -0.015em;
color: #9a7c00 !important;
width: 100%;
height: 10vh;
display: flex;
align-items: center;
justify-content: center;
}

.nav-item .nav-link:hover{
    background-color: #cfab35;
    color: white !important;
}


.navLink:visited { 
    text-decoration: none;
 }

 h1{
     color: #9a7c00
 }


.twitter-timeline{
    height: 20vh;
}

footer p {
    font-size: .6rem
}

footer a {
    text-decoration: none;
    color: #9a7c00
}

.representation div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.representation h2 {
    font-size: 1rem
}

.ig-container {
    height: 20vh;
    width: 20vw;
}



@media (max-width: 768px) {
    .carousel-item{
        height: 45vh
    }

}